/* Add application styles & imports to this file! */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.ag-header-cell-text {
  flex: 1;
}

.amount-header {
  text-align: right;
}

.error-field {
  color: red;
}

.error-cell {
  box-shadow: 0px 0px 2px 2px red;
  z-index: 1000;
}